.jumbotron{
    height: 100vh;
    margin-bottom: 0;

}

.btn { 
	margin-top: 15px;
 }	
.center {
	margin-top: 40%;
	margin-bottom: 10%;
	
}

.font-weight-bold {
	font-family: helvetica;
	margin-top: 11%;
}

